name: Run on Push

on:
  push:
    branches:
      - '**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # Required for pushing to GHCR
    
    steps:
      - name: Build Docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
    
      - name: Make curl request
        run: |
          info=${{ github.event.head_commit.message }}
          echo "Commit metadata: $info"
          
