name: Run on Push

on:
  push:
    branches:
      - '**'
  issues:
    types: [opened]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write  # Required for pushing to GHCR
    
    steps:
      - name: Build Docker
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Echo issue title
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
        run: |
          echo "Issue title: $ISSUE_TITLE"
    
